* {
margin: 50;
padding: 50;
box-sizing: border-box
}

body {
    overflow: scroll;
    background-image: url(https://images.pexels.com/photos/2512387/pexels-photo-2512387.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 30px;
    letter-spacing: 50px;
}
#instruction {
    margin-left: 80px;
    height: 200px;
    width: 600px;
    border: solid whitesmoke;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    text-align: center;
   
}

#game {
    margin-top: 50px;
    margin-left: 550px;
    height: 350px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
    border: 1px solid white;
    font-size: 30px;
    padding: 25px;
    border-radius: 10px;
    background: #F8F8F8;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    
}
div {
    flex-basis: 15%;
    flex-grow: 1;
    height: 100px;
    background-color: black;
    border: 4px solid #fff;
    animation: shake 0.35s ease-in-out;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    justify-content: space-between;
    transform-style: preserve-3d;
    transform: rotateY(0);
    backface-visibility: hidden;
    cursor: pointer;

   
}
@keyframes shake {
    0%, 100%{
      transform: translateX(0);
    }
    20%{
      transform: translateX(-13px);
    }
    40%{
      transform: translateX(13px);
    }
    60%{
      transform: translateX(-8px);
    }
    80%{
      transform: translateX(8px);
    }
  }

@media (orientation: portrait) {
    div {
        height: 16.66vh;
        flex-basis: 30%;
    }
}

.yellow {
    background-color:yellow;
}
.green {
    background-color: green;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.brown {
    background-color: brown;

}
.grey {
    background-color: grey;
}

.light-green {
    background-color: lightgreen;
}
.cadetblue {
    background-color: cadetblue;
}
.violet {
    background-color: violet;
}

.hidden {
    background-color: black;
}
.off {
    background-color: #eee;
}

/* For medium screen sizes from 950px wide and down */
@media only screen and (max-width: 950px) {
    #game {
        margin-left: 0px;
    }
}

/* For small screen sizes below 500px width */
@media (max-width: 500px)  {
    #game {
        margin-left: 0px;
       width: 400px;
       height: 10px;
       margin-top: 10px;

    }
    h1 {
        letter-spacing: 1px;
    }
    #instruction {
        height: 75px;
        width: 300px;
        overflow: scroll;
        margin-left: 0px;
    }
}
/* For small screen sizes below 500px width */
@media (max-width: 500px)  {
    #game {
        margin-left: 50px;
       width: 200px;
       height: 100px;
       margin-top: 10px;

    }
    h1 {
        letter-spacing: 1px;
    }
    #instruction {
        height: 75px;
        width: 300px;
        overflow: scroll;
        margin-left: 0px;
    }
}